<!DOCTYPE html>
<html lang="tr">
<head>
    <title>HavaHaritasi</title>
    <link rel="stylesheet" href="../Static/Css/style.css">
</head>
<body>
    <h1>Merhaba gördüğün gibi bu site benim rastgele içerilerim ile ilgili bir site!</h1>
    <p>Bu site amatör olarak eğitim için yapılmıştır o yüzden içerikleri çok umursama</p>
    <h2>Bir Hava Haritası</h2>             
             <iframe src="https://www.meteoblue.com/tr/hava/haritas%C4%B1/widget?windAnimation=1&gust=1&satellite=1&cloudsAndPrecipitation=1&temperature=1&sunshine=1&extremeForecastIndex=1&geoloc=detect&tempunit=C&windunit=km%252Fh&lengthunit=metric&zoom=7&autowidth=auto"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%; height: 720px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/tr/hava/haritas%C4%B1/index?utm_source=map_widget&utm_medium=linkus&utm_content=map&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
    
    <h2>Ve Günlük Hava Tahmini</h2> 
            <iframe src="https://www.meteoblue.com/tr/hava/widget/daily/merkez_t%c3%bcrkiye-cumhuriyeti_10375669?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitationprobability=1&spot=0&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/tr/hava/hafta/merkez_t%c3%bcrkiye-cumhuriyeti_10375669?utm_source=daily_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
    <h2>Benim kendi ürettiğim bir ürün ve hakkındakiler!</h2>         
    <img src="../Static/Images/Urun1.jpg">
    <img src="../Static/Images/Urun2.jpg">
    <img src="../Static/Images/Urun3.jpg">


</body>
</html>
